.video-body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .bgshow-container {
        position: relative;
        width: 100%;
        height: 100vh;
        object-fit: fill;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition-duration: 0.3s;

        z-index: -102;

        .cross {
            position: absolute;
            margin-top: 5px;
            right: 19%;

            // top: 15px;
            width: 35px;
            height: 35px;
            cursor: pointer;

        }

        .cross:hover {
            transform: rotate(20deg);
        }

        .video {
            width: 100%;
            height: 100%;
            object-fit: fill;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -2;
        }
    }

    .video-container {
        position: sticky;
        height: 68%;
        margin: 0px 5%;
        margin-top: 1%;
        object-fit: fill;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        transition-duration: 0.2s;
        z-index: 1000;

        .cross {
            position: absolute;
            margin-top: -60%;
            margin-right: -100px;
            width: 60px;
            height: 60px;
            transition-duration: 0.2s;
            cursor: pointer;

            @media (max-width: 1370px) {
                margin-top: -55%;
                margin-right: 0px;
            }
        }

        .cross:hover {
            transition-duration: 0.2s;
            transform: rotate(20deg) !important;
            // -webkit-text-stroke: 5px #E275F7 !important;
            // filter: drop-shadow(inset 0px 0px 5px #E275F7);
        }

        .video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
                height: auto;
            }
        }
    }
}